<div class="new-thred-container">
  <h1>スレッド新規作成</h1>
  <%= form_with(url: create_topic_path, model: @post, local: true, method: :post) do |f| %>
    <div>
      <%= f.label "スレッド名", class: 'form-label' %>
      <%= f.text_field :title, class: 'text-field' %>
    </div>
    <div class="button-wrapper">
    <%= f.submit '登録', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>